body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #00a7ee;
}

h1 {
  color: #00a7ee;
  font-weight: 700;
}

h2 {
  color: #5c5c5c;
  font-weight: 400;
}

h3 {
  color: #b3b2b1;
  font-weight: 400;
}

h4 {
  color: #5c5c5c;
  font-weight: 400;
}

p {
  color: #252525;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


